<div class="w-[400px] shadow p-4 bg-white">
  <h1 class="font-bold text-xl mb-4">Hacknight TODO</h1>

  <form [formGroup]="form">
    <ng-container formArrayName="todos">
      <ng-container *ngFor="let todoForm of todos.controls; let i = index">
        <div [formGroupName]="i" class="flex items-center justify-between mb-2">
          <hacknight-input formControlName="todo"></hacknight-input>
          <hacknight-checkbox
            formControlName="checked"
            label="Done?"
          ></hacknight-checkbox>
          <hacknight-button (actionCallback)="removeTodo(i)" color="danger"
            >Remove</hacknight-button
          >
        </div>
      </ng-container>
    </ng-container>
  </form>

  <hacknight-button (actionCallback)="addTodo()">Add a todo</hacknight-button>
</div>
